@model PotatoPortail.Views.Shared.Widget.Model.FlatUiInputButton

@* ReSharper disable once UnknownCssClass *@
<div class="flat-input-button">
    <label>
        <input type="file" name="@Model.Name" id="file" size="60">
        Ajouter un fichier
    </label>
</div>
