@model PotatoPortail.Views.Shared.Widget.Model.FlatUiButton

<div class="flat-button">
    <div style="background: #0078d7; width: 180px; margin: 10px; margin-left: 0; padding: 5px;">
        <button style="width: 170px;" class="fancy-button blanc">@Model.ButtonName</button>
    </div>
</div>