@model PotatoPortail.ViewModels.ProjetPrincipal.GrilleCoursViewModel

@{
    ViewBag.Titre = "GetEnonceModel";
}

<h2>@Html.DisplayFor(Model => Model.Grille)</h2>

@foreach (var enonce in Model.Enonces)
{
    <p>@enonce.CodeCompetence</p>
}
