@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Deconnexion", "Compte", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div onclick="javascript:document.getElementById('logoutForm').submit()" class="layout-button"><span class="glyphicon glyphicon-log-out"></span></div>
        <a onclick="location.href='@Url.Action("Details", "Manage", new { userId = User.Identity.GetUserId() })'" class="layout-button"><span class="glyphicon glyphicon-user"></span></a>
    }
}