<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="DatabaseInitializerForType SysIntershipManagement.Migrations.DbContext, DbContext"
        value="System.Data.Entity.DropCreateDatabaseAlways`1[[SysIntershipManagement.Migrations.DbContext, DbContext]], EntityFramework" />
  </appSettings>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
</configuration>