@using SysInternshipManagement.Views.Shared.Widget.Model
@model SysInternshipManagement.Models.Status

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Status</h1>
    <form action="EnregistrerLesModifications" method="post">
        <input name="idStatus" type="hidden" value="@Html.DisplayFor(model => Model.IdStatus)"/>
        @* ReSharper disable once UnknownCssClass *@
        <div class="form-content">
            <div>
                @Html.Partial("Shared/Widget/_FlatUiTextInput",
                    new FlatUiTextInputModel(
                        "Nom du status",
                        "20px",
                        "nom",
                        "text",
                        Model.StatusStage,
                        null
                        )
                    )
            </div>
            @Html.Partial("Shared/Widget/_FlatUiButton", new FlatUiButton("Soumettre"))
        </div>
    </form>
</div>