@model IEnumerable<SysInternshipManagement.Models.Status>
@using SysInternshipManagement.Models
@using SysInternshipManagement.Views.Shared.Widget.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Status";
}

<h1>Status</h1>

@* ReSharper disable once UnknownCssClass *@
<div class="container page-content">
    <div style="margin-bottom: 15px;">
        @Html.Partial("Shared/Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    </div>
    <div style="margin-bottom: 20px;">
        <form action="/Status/Creation" method="post">
            @Html.Partial("Shared/Widget/_FlatUiButton", new FlatUiButton("Créer un nouveau status"))
        </form>
    </div>

    <table>
        <tr>
            <th>Status</th>
            <th></th>
        </tr>

        @foreach (var item in (List<Status>) Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.StatusStage)
                </td>
                <td>
                    <form action="/Status/Edition" method="post">
                        <div>
                            <button>
                                <input type="hidden" name="IdStatus" value="@Html.DisplayFor(model => item.IdStatus)"/>
                                <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>