body {
    min-height: calc(100vh - 55px);
    font-family: Calibri, Sans-Serif;
    font-size: 175%;
    background-image: url(../Content/Images/watermark.png);
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

::selection {
    background: #0063b1;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    line-height: 50px;
    font-family: Segoe UI Light, Calibri Light, Sans-Serif;
}

a { color: #0078d7; }

ul, ol { padding-left: 20px; }

li { padding: 10px; }

ul.hyphen-list {
    padding-left: 10px;
    list-style-type: none;
}

ul.hyphen-list li { text-indent: -10px; }

ul.hyphen-list li:before {
    content: "- ";
    font-weight: bold;
}

hr {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #B5B5B5;
}

a:hover { text-decoration: none; }

input, button { outline: 0; }

.form-group {
    margin: 10px 0;
    padding: 0;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 8px;
    display: inline-block !important;
    box-sizing: border-box;
    padding: 7px;
    width: 75%;
    vertical-align: middle;
    height: initial;
    box-shadow: initial;
    font-size: initial;
    color: initial;
    border-radius: initial;
    border: none;
    border-bottom: 2px solid #B5B5B5;
    background-color: #f2f2f2;
}

.form-control:focus {
    outline: 0;
    border: none;
    border-bottom: 2px solid #f9a01b;
    box-shadow: initial;
}

.form-control.small { width: 25%; }

.form-control.medium { width: 50%; }

.form-control.inline { display: inline-block; }

.recherche-control {
    margin-top: 5px;
    display: inline-block;
    box-sizing: border-box;
    padding: 7px;
    width: 100%;
    vertical-align: middle;
    height: initial;
    box-shadow: initial;
    font-size: initial;
    color: initial;
}

.recherche-layout {
    margin-top: 5px;
    display: inline-block;
    width: 400px;
    padding: 7px;
    vertical-align: middle;
    height: initial;
    box-shadow: initial;
}

.div-utilisateur {
    display: inline-block;
    float: right;
    margin-right: 2px;
}

.p-utilisateur {
    color: #ffffff;
    margin: unset !important;
    text-align: right;
}

.div-recherche-layout {
    display: inline-block;
    width: auto;
}

label { display: block; }

.text-danger { color: #ce0000; }

textarea {
    resize: none;
    overflow-x: hidden;
}

.glyphicon.flip { transform: scale(-1, 1); }

.center-align { text-align: center; }

.inline-block { display: inline-block }

.fancy-button {
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid;
    border-radius: 0;
    text-align: center;
    color: #0078d7;
    background-color: transparent;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.1s;
}

.fancy-button span { word-break: break-all; }

.fancy-button .glyphicon {
    position: relative;
    top: 3px;
}

.fancy-button.rouge { color: #ce0000; }

.fancy-button.blanc { color: #FFF; }

.fancy-button:hover {
    border-color: #0063b1;
    background-color: #0063b1;
    color: #ffffff;
}

.fancy-button.rouge.blanc {
    border-color: #ce0000;
    background-color: #FFF;
    color: #ce0000;
}

.fancy-button.rouge.blanc:hover {
    border-color: #ce0000;
    background-color: #ce0000;
    color: #ffffff;
}

.fancy-button.rouge:hover {
    border-color: #ce0000;
    background-color: #ce0000;
    color: #ffffff;
}

.fancy-button.blanc:hover {
    background-color: #FFF;
    color: #0078d7;
}

.fancy-button.bleu {
    background-color: #0078d7;
    color: #ffffff;
}

.fancy-button.bleu:hover {
    background-color: #ffffff;
    color: #0078d7;
}

.fancy-button.large {
    width: 50%;
    display: inline-block;
    margin: 25px 0;
}

.file-button {
    font-weight: normal;
    cursor: pointer;
}

input[type="file"] { display: none; }

header.light-header {
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 2px solid #0078d7;
}

div.light-header {
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 2px solid #0078d7;
}

header.fat-header {
    margin: -40px;
    margin-bottom: 20px;
    padding: 20px 40px;
    color: #fff;
    background-color: #0078d7;
}

header.fat-header hr { border-bottom-color: #fff; }

.box {
    padding: 40px;
    margin-bottom: 2%;
}

.form-box {
    margin: 40px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.field-box {
    margin: 20px 0;
    padding: 20px;
    background-color: #f2f2f2;
}

.field-box .form-control, .form-control.bright { background-color: #fff; }

.element { margin: 20px 0; }

label { display: block; }

.stylish-input-group .input-group-addon { background: white !important; }

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

span.markBlue {
    background: blue;
    color: white;
}

mark {
    background: #0078d7;
    color: inherit;
    padding: 0;
}

.child-field-container { margin: 5px 15px; }

.child-field {
    margin: 10px 0;
    padding: 7px;
    width: 100%;
    background-color: #0078d7;
    color: #ffffff;
}

.child-field p {
    float: left;
    margin: 0;
}

.child-field.clearfix.indent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.child-field .glyphicon {
    position: relative;
    top: 5px;
    float: right;
    cursor: pointer;
}

.highlighted { background-color: Yellow; }

.ligne { color: darkblue; }

.vertical-align { vertical-align: middle; }

.margin-left { margin-left: 5px; }

.div-enonce {
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
    margin: 10px 0;
}

.version {
    display: inline-block;
    color: #ffffff;
    vertical-align: bottom;
    font-size: small;
}