table.cool-table {
    width: 100%;
    color: #fff;
}

table.cool-table th, table.cool-table td {
    padding: 10px 20px;
}

table.cool-table th {
    background-color: #333333;
    border-bottom: 2px solid #000;
}

table.cool-table td {
    color: #dddddd;
    background-color: #5C5C5C;
    border-top: 1px solid #707070;
    transition: 0.1s;
}

table.cool-table tr:first-child td {
    border-top: none;
}

table.cool-table tr:hover td {
    background-color: #4C4C4C;
}

table.cool-table a {
    padding: 10px;
    color: #dddddd;
    border-radius: 5px;
    transition: 0.1s;
}

table.cool-table a:hover {
    background-color: #000;
}

table.cool-table .action-cell-header {
    width: 15%;
    text-align: center;
    border-left: 1px solid #000;
}

table.cool-table .action-cell {
    padding: 0;
    width: 15%;
    text-align: center;
    border-left: 1px solid #707070;
}

/*PLAN CADRE*/

.plan-cadre-table-container {
    margin: -20px -40px;
    width: calc(100% + 80px);
}

table.plan-cadre-table {
    margin: 20px 0;
    width: 100%;
}

table.plan-cadre-table th, table.plan-cadre-table td {
    padding: 10px;
    vertical-align: top;
    border-left: 1px solid;
}

table.plan-cadre-table tr th:first-child, table.plan-cadre-table tr td:first-child {
    border-left: none;
}

table.plan-cadre-table th {
    background-color: #ddd;
    border-bottom: 5px solid;
    border-color: #bcbcbc;
}

table.plan-cadre-table td {
    border-bottom: 1px solid;
    border-color: #ddd;
}

table.plan-cadre-table .rich-cell li {
    padding: 3px;
}
