.flat-text-editor {
    color: black;
    background: white;
    border: 1px solid #808080;
    transition: border 0.15s;
}

.flat-text-editor:active {
    border: 2px solid Highlight;
}

.flat-text-editor:focus-within {
    border: 2px solid Highlight;
}

.flat-text-editor input {
    border: none;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    width: 100%;
    max-width: 100%;
}

.flat-search-bar {
    width: 50%;
}

.flat-search-bar button {
    height: 41px;
    width: 18%;
    border: 1px solid black;
    background-color: #0078d7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.flat-search-bar button img {
    height: 65%;
}

.flat-search-bar div {
    width: 80%;
    display: inline-block;
}

.flat-search-bar div div:active {
    border: 1px solid black;
}

.flat-search-bar div div:focus-within {
    border: 1px solid black;
}
