
@{
    ViewBag.Title = "Application";
}

<h2>Application</h2>

@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Entreprise</h1>
    <div class="form-content">
        <div>
            @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Nom d'entreprise"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Adresse"))
        </div>
    </div>
</div>

