@model PotatoPortail.Views.Stage.EditionComponent.Models.StatusSelect

<div class="flat-select">
    <p>Status</p>
    <select name="idStatus">
        <optgroup label="Value">
            @foreach (var item in Model.Status)
            {
                <option value="@Html.DisplayFor(modelItem => item.IdStatus)">@Html.DisplayFor(modelItem => item.StatusStage)</option>
            }
        </optgroup>
    </select>
</div>