@model PotatoPortail.Models.GrilleCours

<div class="section-grille">
    <div class="table-responsive" id="grilleCoursPrealable">
        <table class="table table-bordered">
            <thead>
            <th>Session 2</th>
            <tr><td>Cours de formation spécifique</td></tr>
            <tr><td></td></tr>
            </thead>
        </table>
    </div>
</div>    