@model PotatoPortail.Models.GrilleCours
@{
    ViewBag.Titre = "Details";
}
<h2>Details</h2>
<div>
    <h4>GrilleCours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Modifier", new { id = Model.IdGrille }) |
    @Html.ActionLink("Back to List", "Index")
</p>
