@model PotatoPortail.Models.GrilleCours
@{
    ViewBag.Titre = "Supression";
}
<h2>Supression</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GrilleCours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        @if (Model.Cours.FirstOrDefault() == null){
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Supression" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        }
        else
        {
            <p>La grille de cours ne peut être supprimée car des cours y sont associés ! Merci de dissocier les cours avant de supprimer cette grille de cours.</p>
        }
    </dl>
</div>
