@using SysInternshipManagement.Views.Shared.Widget.Model
@model IEnumerable<SysInternshipManagement.Models.Location>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Location</h1>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <div style="margin-top: 15px; margin-bottom: 15px;">
        <form action="/Location/Creation" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter une nouvelle location"))
        </form>
    </div>
    <table>
        <tr>
            <th>Location</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Nom)
                </td>
                <td>
                    <div>
                        <form action="/Location/Edition" method="post">
                            <input name="idLocation" type="hidden" value="@Html.DisplayFor(model => item.IdLocation)"/>
                            <button>
                                <img alt="icon-edit" src="~/Content/Icons/baseline-border_color-24px.svg"/>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>