@model IEnumerable<PotatoPortail.Models.Status>
@using PotatoPortail.Models
@using PotatoPortail.Views.Shared.Widget.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Statut";
}

<h1>Statuts</h1>

@* ReSharper disable once UnknownCssClass *@
<div class="container page-content">
    <div style="margin-bottom: 20px;">
        <form action="/Status/Creation" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Créer un nouveau statut"))
        </form>
    </div>

    <table>
        <tr>
            <th>Statuts</th>
            <th></th>
        </tr>

        @foreach (var item in (List<Status>) Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.StatusStage)
                </td>
                <td>
                    <form action="/Status/Edition" method="post">
                        <div>
                            <button>
                                <input type="hidden" name="IdStatus" value="@Html.DisplayFor(model => item.IdStatus)" />
                                <img src="~/Content/Icons/baseline-border_color-24px.svg" />
                            </button>
                            <input type="button" value="Supprimer" class="btn btn-default" onclick="location.href = '@Url.Action("Suppression", "Status", new { id = item.IdStatus })'" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>