@using PotatoPortail.Views.Shared.Widget.Model
@model PotatoPortail.Models.StatutStage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Statut</h1>
    <form action="EnregistrerLesModifications" method="post">
        <input name="idStatut" type="hidden" value="@Html.DisplayFor(model => Model.IdStatutStage)"/>
        @* ReSharper disable once UnknownCssClass *@
        <div class="form-content">
            <div>
                @Html.Partial("Widget/_FlatUiTextInput",
                    new FlatUiTextInputModel(
                        "Nom du status",
                        "20px",
                        "nom",
                        "text",
                        Model.NomStatutStage,
                        null
                        )
                    )
            </div>
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Soumettre"))
        </div>
    </form>
</div>