@model PotatoPortail.Views.SystemeStage.Stage.EditionComponent.Models.ContactSelect

<div class="flat-select">
    <p>Contact du Stage</p>
    <select name="idContact">
        <optgroup label="Value">
            @foreach (var item in Model.Contacts)
            {
                <option value="@Html.DisplayFor(modelItem => item.IdContact)">@Html.DisplayFor(modelItem => item.Nom)</option>
            }
        </optgroup>
    </select>
</div>