@model PotatoPortail.Views.SystemeStage.Stage.EditionComponent.Models.StatutSelect

<div class="flat-select">
    <p>Statut</p>
    <select name="idStatus">
        <optgroup label="Value">
            @foreach (var item in Model.StatutStage)
            {
                <option value="@Html.DisplayFor(modelItem => item.IdStatutStage)">@Html.DisplayFor(modelItem => item.NomStatutStage)</option>
            }
        </optgroup>
    </select>
</div>