@using System.Web.UI.WebControls
@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Gestion de stage</title>
</head>
<body>
<div>
    <h1>Entreprise</h1>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <div class=""></div>
    <table>
        <tr>
            <th>Entreprise</th>
            <th>Adresse</th>
            <th>Contact</th>
            <th></th>
        </tr>
        <tr>
            <td>CGI</td>
            <td>1000 rue de chicoutimi, Chicoutimi</td>
            <td>George Tremblay</td>
            <td>
                <div>
                    <button>
                        <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Optania</td>
            <td>1500 rue de racine, Chicoutimi</td>
            <td>Dominic Martineau</td>
            <td>
                <div>
                    <button>
                        <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Ubisoft</td>
            <td>1200 rue racine, Chicoutimi</td>
            <td>Emile Bergeron</td>
            <td>
                <div>
                    <button>
                        <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Vingt trois solutions</td>
            <td>1000 rue Sir wilfrid Laurier, Jonquière</td>
            <td>Mathieu Auclair</td>
            <td>
                <div>
                    <button>
                        <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>