@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Entreprise</h1>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <div style="margin-top: 15px; margin-bottom: 15px;">
        <a href="/Entreprise/Edit">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter une nouvelle entreprise"))
        </a>
    </div>
    <div class=""></div>
    <table>
        <tr>
            <th>Entreprise</th>
            <th>Adresse</th>
            <th>Contact</th>
            <th></th>
        </tr>
        <tr>
            <td>CGI</td>
            <td>1000 rue de chicoutimi, Chicoutimi</td>
            <td>George Tremblay</td>
            <td>
                <div>
                    <a href="/Entreprise/Edit">
                        <button>
                            <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Optania</td>
            <td>1500 rue de racine, Chicoutimi</td>
            <td>Dominic Martineau</td>
            <td>
                <div>
                    <a href="/Entreprise/Edit">
                        <button>
                            <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Ubisoft</td>
            <td>1200 rue racine, Chicoutimi</td>
            <td>Emile Bergeron</td>
            <td>
                <div>
                    <a href="/Entreprise/Edit">
                        <button>
                            <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Vingt trois solutions</td>
            <td>1000 rue Sir wilfrid Laurier, Jonquière</td>
            <td>Mathieu Auclair</td>
            <td>
                <div>
                    <a href="/Entreprise/Edit">
                        <button>
                            <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
