@model IEnumerable<SysInternshipManagement.Models.Entreprise>
@using SysInternshipManagement.Models
@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Entreprise</h1>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <div style="margin-top: 15px; margin-bottom: 15px;">
        <a href="/Entreprise/Edit">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter une nouvelle entreprise"))
        </a>
    </div>
    <div class=""></div>
    <table>
        <tr>
            <th>Entreprise</th>
            <th>Adresse</th>
            <th>Contact</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Nom)</td>
                <td>@Html.DisplayFor(Model => item.NumeroCivique + item.Rue + item.Ville + item.Pays + item.Province )</td>
                <td>George Tremblay</td>
                <td>
                    <div>
                        <a href="/Entreprise/Edit">
                            <button>
                                <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
