/* Flat UI library by: */

/*  Mathieu Auclair
 *  https://github.com/MathieuAuclair 
*/

/* General */



/* Props */

.flat-text-editor {
    color: black;
    background: white;
    border: 1px solid #808080;
    transition: border 0.15s;
}

.flat-text-editor:active {
    border: 2px solid #0078d7;
}

.flat-text-editor:focus-within {
    border: 2px solid #0078d7;
}

.flat-text-editor p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 10px;
    padding: 5px;
}

.flat-text-editor input {
    border: none;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    width: 100%;
    max-width: 100%;
}

.flat-search-bar {
    width: 100%;
}

.flat-search-bar button {
    height: 55px;
    width: calc(20% - 6px);
    border: 1px solid black;
    background-color: #0078d7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.flat-search-bar button img {
    height: 45%;
}

.flat-search-bar div {
    width: 100%;
    display: inline-block;
}

.flat-search-bar input {
    max-width: 100%;
}

.flat-search-bar div div:active {
    border: 1px solid black;
}

.flat-search-bar div div:focus-within {
    border: 1px solid black;
}

.flat-select {
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin-top: 10px;
    background: white;
}

.flat-select select {
    height: 40px;
    width: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    text-align: left;
    border: none;
    outline: none;
}

.flat-select select:focus {
    border: none;
}

.flat-select select:active {
    border: none;
}

.flat-select p {
    width: 100%;
    font-size: 10px;
    font-weight: 100;
    display: block;
    margin: auto;
}

.flat-button {
    border: 2px solid black;
    width: 100%;
}

.flat-button button {
    width: 100%;
    height: 40px;
    margin: auto;
    background: #0078d7;
    color: white;
    border: 1px solid white;
}

.flat-input-button {
    border: 2px solid black;
    width: 100%;
    max-width: 100%;
    background: #0078d7;
    text-align:center;
}

.flat-input-button label {
    width: 100%;
    max-width:100%;
    height: 40px;
    margin: auto;
    text-align:center;
    background: #0078d7;
    color: white;
    border: 1px solid white;
    padding-top:10px;
    font-weight:100;
}

input[type="file"] {
    display: none;
}

.flat-textarea {
    border: 1px solid black;
    background: white;
    padding: 5px;
    transition: border 0.15s;
}

.flat-textarea textarea {
    border: none;
    margin-top: 5px;
    max-width: 100%;
    width: 100%;
}

.flat-textarea p {
    font-size: 10px;
    font-weight: 100;
    font-family: sans-serif;
}

.flat-textarea:active {
    border: 2px solid #0078d7;
}

.flat-textarea:focus-within {
    border: 2px solid #0078d7;
}

.flat-card{
    background: white;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
