body {
    background: #F9F9F9;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:2%;
    text-decoration:underline;
}

div.page-content {
    height: 75%;
}

div.internship-list {
    width: 100%;
    margin-left: initial;
    float: left;
    padding-left: 0%;
    padding-right: 0%;
}

div.internship-list div{
    width: 100%;
    margin-left: initial;
    float: left;
    margin-bottom:10px;
}

div.internship-list li{
    width:85%;
    float:left;
    list-style-type: none;
}

div.internship-list button{
    width:15%;
    float:left;
}

div.boutton-add-internship {
    width: 100%;
    height: 50%;
    margin-left: initial;
    float: left;
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

div.boutton-add-internship button {
    right: 5px;
    top: 5px;
    width:70%;
    height:30px;
    
}

div.boutton-return {
    width: 100%;
    height: 50%;
    margin-left: initial;
    float: left;
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

div.boutton-return button {
    right: 5px;
    top: 5px;
    width: 70%;
    height: 30px;
}

div.internship-creation {
    width: 100%;
    margin-left: initial;
    float: left;
    padding-left: 0%;
    padding-right: 0%;
}

div.internship-creation div{
    width: 100%;
    margin-left: initial;
    float: left;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5px;
}

div.internship-creation li {
    width: 55%;
    float: left;
    list-style-type: none;
    font-size:medium;
}


table {
    width: 100%;
}

th, td {
    padding: 5px;
    background: white;
}

td {
    margin: 20px;
}

tr {
    border-top: 5px solid #F9F9F9;
}

td div button {
    width: 100%;
    background: Highlight;
    color: white;
    border: 1px solid white;
}

    td div button img {
        padding: 5px;
    }

td div {
    border: 2px solid black;
}


