@model PotatoPortail.ViewModels.OrdresDuJour.OrdreDuJourViewModel

@{
    ViewBag.Titre = "Supression d'un ordre du jour";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">
    <div class="form-box">
        <header class="light-header">

            <h1>@ViewBag.Titre</h1>
            <h3>@Html.DisplayFor(m => m.OrdreDuJour.TitreOdJ)</h3>
        </header>


        <p>Êtes-vous certain de vouloir supprimer cet ordre du jour?</p>

        <hr />
        <input type="submit" value="Confirmer" class="fancy-button" />
        <div class="fancy-button rouge" onclick="location.href='@Url.Action("Annuler", "OrdreDuJour", new { currentUrl = Request.UrlReferrer.ToString() })'">Annuler</div>
    </div>
</div>
}