@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Création Stage";
}


<h1>Création de Stage</h1>

<button type="button" onclick="location.href='@Url.Action("Index","Internship")'">Return</button>



