@using PotatoPortail.Views.Shared.Widget.Model
@model IEnumerable<PotatoPortail.Models.Location>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Location</h1>

    <div class="row">
        <div class="col-md-10">
            <table class="cool-table">
                <tr>
                    <th colspan="6">Location</th>
                    <th colspan="1" class="action-cell-header">Modifier</th>
                    <th colspan="1" class="action-cell-header">Supprimer</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td colspan="6">
                            @Html.DisplayFor(model => item.Nom)
                        </td>
                        <td colspan="1" class="action-cell">

                            <a href='@Url.Action("Modifier", "Location", new { item.IdLocation })'>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td colspan="1" class="action-cell">
                            <a href='@Url.Action("Suppression", "Location", new { item.IdLocation })'>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="menu-flottant">
        <a class="fancy-button blanc" href="/Accueil/Index">
            <span class="glyphicon glyphicon-triangle-left"></span>
            Retour
        </a>

        <a class="fancy-button blanc" href="@Url.Action("Creation", "Location")">
            <span class="glyphicon glyphicon-plus"></span>
            Ajouter une location
        </a>

    </div>
</div>