@model SysInternshipManagement.Models.Widget.FlatUiInputButton

<div class="flat-input-button">
    <label>
        <input type="file" name="file" id="file" size="60">
        Ajouter votre fichier
    </label>
</div>
