@model SysInternshipManagement.Models.Widget.FlatUiTextInputModel

<div class="flat-text-editor">
    <p>@Model.Placeholder</p>
    <input style="height: @Model.Height" type="text" required/>
</div>