@using SysInternshipManagement.Models.Widget
@model SysInternshipManagement.Models.Widget.FlatUiSearchBar

<div class="flat-search-bar">
    <button>
        <img src="~/Content/Icons/baseline-search-24px.svg"/>
    </button>
    <div>
        @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Recherche", "40px"))
    </div>
</div>