@using SysInternshipManagement.Models.Widget
@model SysInternshipManagement.Models.Widget.FlatUiSearchBar

<div class="flat-search-bar">
    @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("test"))
</div>
