@model SysInternshipManagement.Models.Widget.FlatUiSelect

<div class="flat-select">
    <p>@Model.Label</p>
    <select>
        <optgroup label="Value">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
        </optgroup>
    </select>
</div>