@model PotatoPortail.Views.Shared.Widget.Model.FlatUiPaysSelect

<div>
    <div class="flat-select">
        <p>Pays</p>
        <select name="pays" id="select-pays">
            <option selected="selected" hidden="hidden">@Model.PaysParDefault</option>
        </select>
    </div>
</div>
<script>
    (function() {
        var newXhr;

        function sendXhr(options) {
            newXhr = new XMLHttpRequest();
            if (options.sendJSON === true) {
                options.contentType = "application/json; charset=utf-8";
                options.data = JSON.stringify(options.data);
            } else {
                options.contentType = "application/x-www-form-urlencoded";
            }
            newXhr.open(options.type, options.url, options.async || true);
            newXhr.setRequestHeader("Content-Type", options.contentType);
            newXhr.send((options.type === "POST") ? options.data : null);
            newXhr.onreadystatechange = options.callback;
            return newXhr;
        }

        sendXhr({
            type: "GET",
            url: "https://restcountries.eu/rest/v1/all",
            callback: function() {
                if (newXhr.readyState === 4 && newXhr.status === 200) {
                    var data = JSON.parse(newXhr.response);
                    var selectPays = document.getElementById("select-pays");
                    var option;

                    for (var i = 0; i < data.length; i++) {
                        option = document.createElement("option");
                        selectPays.options.add(option, 0);
                        selectPays.options[0].value =
                            data[i].name;
                        selectPays.options[0].innerText = data[i].name;
                        selectPays.appendChild(option);
                    }
                }
            }
        });
    })();
</script>