@model SysInternshipManagement.Views.Shared.Widget.Model.FlatUiTextarea

<div class="flat-textarea">
    <p>@Model.Label</p>
    <textarea name="@Model.Name" value="@Model.Valeur" required="required">@Model.Valeur</textarea>
</div>